<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DistilleryTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6ED242D620132B7A0028F982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ED242EA20132B7A0028F982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ED242F520132B7A0028F982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
